<!DOCTYPE html>
<html lang="en">
     <%- include ("../includes/head.ejs") %>

     

     <body>
          <%-include ("../includes/nav.ejs") %> <br /><br /><br />
          <form action="/admin/manage-users" method="post">
          
               <select name="pageInput" id="" class="pageInput">
                    
                    <% for( let selectPage = 1; selectPage <= pages; selectPage++ ) { %>
                         <option value=<%= selectPage %>> <%= selectPage %> </option>
                    <% } %>
                   
              </select>

              <button class="btn btn-secondary" type="submit">Go</button>
          </form>
          <div class="container">
               <table class="table">
                    <th>First name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Role</th>
                    <% users.forEach(user => { %>
                    <tr>
                         <td><%= user.fname %></td>
                         <td><%= user.lname %></td>
                         
                         <td><%= user.username %></td>
                         <td> <%= user.role %> </td>
                         <td><div class="btn-group" role="group" aria-label="Basic example">
                              <button type="button" class="btn btn-info" onclick="location.href='/user/edit/<%= user.username %>'">Edit</button>
                              <form action="/user/ban/<%= user.username %>" method="POST">
                                   <button type="submit" class="btn btn-warning">Ban</button>
                              </form>
                              <form action="/user/delete/<%= user.username %>" method="POST">
                                   <button type="submit" class="btn btn-danger">Delete</button>
                              </form>
                            </div></td>
                    </tr>
                    <% }) %>
               </table>
          </div> 
          <div class="container">
               <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="/admin/manage-users?page=<%= previousPage %>" <%= currentPage==1?'hidden':null %>>Previous</a></li>
                   
                      <li class="page-item"><a class="page-link" href="#"><%= currentPage %> </a></li>
         
                      <li class="page-item"><a class="page-link" href="/admin/manage-users?page=<%= nextPage %>" <%= currentPage==pages?'hidden':null %>>Next</a></li>
                    </ul>
                  </nav>
               
         
        
          </div>
          <script src="/scripts/login.js"></script>
     </body>
</html>
